
.footer {
  background-color: var(--footer);
  color: var(--white-simple);
}

.footer__body {
  height: 158px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item:first-child {
  display: flex;
  align-items: center;
}

.footer__item > svg {
  margin-right: 19px;
}

.footer__paragraph {
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__paragraph_author {
  width: 200px;
}