:root {
  --blue: #15A9CB;
  --blue-ligth: #23C7EC;
  --span: #4A76A8;
  --text-color: #383A4C;
  --footer: #2F324B;
  --white-background: #F9F9F9;
  --white-simple: #FFFFFF;
  --hover-arrow: #4B4D62;
  
}